* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Poppins', sans-serif; background: #fff; color: #000; }

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #0A1A52;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: #0A1A52;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 600;
}
.active-link {
  border-bottom: 2px solid white;
}

.blue-background {
  background: #0A1A52;
  color: white;
  padding: 2rem;
}

.search-section {
  background: #0A1A52;
  padding: 2rem;
  color: white;
  text-align: center;
}
.search-section input {
  padding: 1rem;
  width: 60%;
  border-radius: 50px;
  border: none;
  margin-bottom: 1rem;
}
.categories button {
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  margin: 0.5rem;
  background: #ccc;
  font-weight: bold;
}

.highlight {
  background: #F8F8F8;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  margin: 2rem auto;
  border-radius: 20px;
  color: black;
  max-width: 800px;
  max-height: 200px;
}
.highlight img {
  width: 200px;
  border-radius: 10px;
}
.highlight div {
  flex: 1;
}

.articles-section {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: #E3EFFE;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-top {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.card-top img {
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}

.card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card-info span {
  background: #f4f4f4;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  align-self: flex-start;
}

.card-info h4 {
  margin: 0;
  font-size: 1rem;
}

.card p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 10px;
}

.latest-section {
  background: #0A1A52;
  padding: 2rem;
  color: white;
  text-align: center;
}
.latest-section .section {
  background: white;
  color: black;
}

.latest-articles {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
.section {
  background: #E3EFFE;
  border-radius: 20px;
  padding: 1rem;
}
.section img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.portfolio-button {
  background: #5C6BC0;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 25px;
  margin-top: 2rem;
  border: none;
  font-weight: bold;
}